/*@import './base.css';*/
@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /*colors*/
  --color-ayu-50: #fdf6e8;
  --color-ayu-100: #fbeecc;
  --color-ayu-200: #f6dc99;
  --color-ayu-300: #f2c966;
  --color-ayu-400: #edb73d;
  --color-ayu-500: #e6b450;
  --color-ayu-600: #c9942f;
  --color-ayu-700: #a37324;
  --color-ayu-800: #7d571d;
  --color-ayu-900: #5c3f15;
  --color-ayu-950: #33220b;

  /*font*/
  --font-sans: 'Robot Mono', system-ui, sans-serif;
}

.bg-pattern-dots {
  background-color: #020618;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
