/*@import './base.css';*/
@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  /*colors*/
  --color-ayu-50: #fdf6e8;
  --color-ayu-100: #fbeecc;
  --color-ayu-200: #f6dc99;
  --color-ayu-300: #f2c966;
  --color-ayu-400: #edb73d;
  --color-ayu-500: #e6b450;
  --color-ayu-600: #c9942f;
  --color-ayu-700: #a37324;
  --color-ayu-800: #7d571d;
  --color-ayu-900: #5c3f15;
  --color-ayu-950: #33220b;

  --color-brand-50: #f0fdf3;
  --color-brand-100: #dcfae2;
  --color-brand-200: #baf3c6;
  --color-brand-300: #86e59d;
  --color-brand-400: #4fd370;
  --color-brand-500: #39d353;
  --color-brand-600: #24b03e;
  --color-brand-700: #1e8a33;
  --color-brand-800: #1c6d2c;
  --color-brand-900: #195a27;
  --color-brand-950: #093213;

  /*font*/
  --font-sans: 'Roboto Mono', system-ui, sans-serif;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  .blogBody pre {
    @apply bg-[var(--ui-bg-muted)] rounded-lg p-4 overflow-x-auto my-6;
  }
}
